$secondary-color:rgb(42,212,255);
$third-color: rgb(241, 241, 176);
$font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

* {
    font-family: $font-family;
}

body {
    background-color: rgb(29, 36, 36);
    // background-image: url("https://images.unsplash.com/photo-1504805572947-34fad45aed93?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125vh;


}

#current-time {
    margin: 20px;
    // justify-content: normal;
    font-size: 15px;
    color: $third-color;
    position: absolute;
    bottom: 300px;
    left: 639px;
}


.mid-nav {
    height: 500px;
    width: 150px;
    // display: inline-flex;
    display: flex;
    flex-direction: column;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
}

img {
    height: 250px;
    width: 150px;
    
}


.mid-nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.mid-nav-links li a{
    text-decoration: none;
    color: $third-color;
}

.mid-nav-links li a:hover {
    text-decoration: none;
    background-color: $secondary-color;
    color: white;
}





























